{% extends 'blog/base.html' %}


{% block content %}
    <div class="container mt-4">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="card text-white border-0 shadow-sm" style="background-color:#128294;">
                <div class="card-body border-0 shadow-sm ">
                    <h5 class="display-5 " style="word-spacing:3px">Discriptions : Sports Training : Training is a process of preparing an individual for any event or an activity or job. In sports we use the term ‘sports training’ which denotes the sense of preparing sports persons for the highest level of performance. Sports training is the physical, technical, intellectual, psycRead
                    Sports Training : Training is a process of preparing an individual for any event or an activity or job. In sports we use the term ‘sports training’ which denotes the sense of preparing sports persons for the highest level of performance. Sports training is the physical, technical, intellectual, psycRead</h5>
                </div>
            </div>
        </div>
    </div>
    </div>






    <br><br>
    <div class="container-fluid mt-5" style="background-color:#0f6674; position: fixed;bottom: 0;">
    <div class="row">
        <div class="col-lg-12 mt-3 mb-4">
            <div class="row">
                <div class="col-lg-6 mx-auto text-center">
                    <h5 class="text-center text-white">User</h5>
                    <a href="" class="text-center text-white">Signup</a><br>
                    <a href="" class="text-center text-white">Login</a>
                </div>

                <div class="col-lg-6 mx-auto text-center">
                    <h5 class="text-center text-white" style="size: 60px;">About</h5>
                    <h6 class="text-center text-white">Developed by : Suerj kumar</h6>
                    <h6 class="text-center text-white">This is Bloging Website</h6>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}